# Chloropleth map

Creating chloropleth map of total Female R&D personnel (in head count percentages) in 2015.

In [1]:
import pandas as pd 
import numpy as np
import plotly.plotly as py
import plotly.graph_objs as go

In [2]:
data = pd.read_csv('../data/total_rd.csv')

In [3]:
data.head()

,INDICATOR,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags
0,20000,Total R&D personnel (FTE) - Total,AUT,Austria,2011,2011,61170.5,NaN,NaN
1,20000,Total R&D personnel (FTE) - Total,AUT,Austria,2012,2012,65088.2,NaN,NaN
2,20000,Total R&D personnel (FTE) - Total,AUT,Austria,2013,2013,66186.1,NaN,NaN
3,20000,Total R&D personnel (FTE) - Total,AUT,Austria,2014,2014,69842.0,NaN,NaN
4,20000,Total R&D personnel (FTE) - Total,AUT,Austria,2015,2015,71396.0,NaN,NaN

In [4]:
set(data.Indicator)

{'Total R&D personnel (FTE) - % Female',
 'Total R&D personnel (FTE) - Female',
 'Total R&D personnel (FTE) - Total ',
 'Total R&D personnel (HC) - % Female',
 'Total R&D personnel (HC) - Female',
 'Total R&D personnel (HC) - Total ',
 'Total R&D personnel per million inhabitants (FTE)',
 'Total R&D personnel per million inhabitants (HC)'}

In [5]:
# filter out rows that are Total R&D personnel (HC) - % Female 
hc_female = data[data['Indicator'] == 'Total R&D personnel (HC) - % Female']

In [6]:
# 2015 has the highest count value 
hc_female['Time'].value_counts()

2015    78
2013    71
2011    71
2014    60
2012    60
2016    31
2017    17
Name: Time, dtype: int64

In [7]:
hc_female_2015 = hc_female[hc_female['Time'] == 2015]

In [8]:
hc_female_2015.head()

,INDICATOR,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags
1765,FPERSP_THC,Total R&D personnel (HC) - % Female,AUT,Austria,2015,2015,30.18443,NaN,NaN
1768,FPERSP_THC,Total R&D personnel (HC) - % Female,BEL,Belgium,2015,2015,36.36156,NaN,NaN
1773,FPERSP_THC,Total R&D personnel (HC) - % Female,CZE,Czechia,2015,2015,31.08191,NaN,NaN
1777,FPERSP_THC,Total R&D personnel (HC) - % Female,DNK,Denmark,2015,2015,37.13062,NaN,NaN
1782,FPERSP_THC,Total R&D personnel (HC) - % Female,FIN,Finland,2015,2015,33.36838,NaN,NaN

In [9]:
world = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_world_gdp_with_codes.csv')

In [10]:
addition = set(world['CODE']) - set(hc_female_2015['LOCATION'])

In [11]:
world = world[world['CODE'].isin(addition)]

In [12]:
world.drop(columns="GDP (BILLIONS)", inplace=True)

In [13]:
world['INDICATOR'] = np.nan
world['Indicator'] = np.nan
world['TIME'] = 2015
world['Time'] = 2015
world['Value'] = 0
world['Flag Codes'] = np.nan
world['Flags'] = np.nan
world.rename(columns={'CODE':'LOCATION'}, inplace=True)
world.rename(columns={'COUNTRY':'Country'}, inplace=True)

In [14]:
# add countries so that they populate on the map
hc_female_2015 = pd.concat([hc_female_2015, world])

/Users/Nina/bin/anaconda3/envs/msds622/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning:

Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [15]:
hc_female_2015.tail()

,Country,Flag Codes,Flags,INDICATOR,Indicator,LOCATION,TIME,Time,Value
217,Virgin Islands,NaN,NaN,NaN,NaN,VGB,2015,2015,0.0
218,West Bank,NaN,NaN,NaN,NaN,WBG,2015,2015,0.0
219,Yemen,NaN,NaN,NaN,NaN,YEM,2015,2015,0.0
220,Zambia,NaN,NaN,NaN,NaN,ZMB,2015,2015,0.0
221,Zimbabwe,NaN,NaN,NaN,NaN,ZWE,2015,2015,0.0

In [16]:
hc_female_2015.sort_values('Value')

,Country,Flag Codes,Flags,INDICATOR,Indicator,LOCATION,TIME,Time,Value
40,Chad,NaN,NaN,NaN,NaN,TCD,2015,2015,0.00000
86,Guyana,NaN,NaN,NaN,NaN,GUY,2015,2015,0.00000
87,Haiti,NaN,NaN,NaN,NaN,HTI,2015,2015,0.00000
89,Hong Kong,NaN,NaN,NaN,NaN,HKG,2015,2015,0.00000
92,India,NaN,NaN,NaN,NaN,IND,2015,2015,0.00000
93,Indonesia,NaN,NaN,NaN,NaN,IDN,2015,2015,0.00000
94,Iran,NaN,NaN,NaN,NaN,IRN,2015,2015,0.00000
97,Isle of Man,NaN,NaN,NaN,NaN,IMN,2015,2015,0.00000
98,Israel,NaN,NaN,NaN,NaN,ISR,2015,2015,0.00000
100,Jamaica,NaN,NaN,NaN,NaN,JAM,2015,2015,0.00000
102,Jersey,NaN,NaN,NaN,NaN,JEY,2015,2015,0.00000
105,Kenya,NaN,NaN,NaN,NaN,KEN,2015,2015,0.00000
106,Kiribati,NaN,NaN,NaN,NaN,KIR,2015,2015,0.00000
107,"Korea, North",NaN,NaN,NaN,NaN,PRK,2015,2015,0.00000
109,Kosovo,NaN,NaN,NaN,NaN,KSV,2015,2015,0.00000
112,Laos,NaN,NaN,NaN,NaN,LAO,2015,2015,0.00000
114,Lebanon,NaN,NaN,NaN,NaN,LBN,2015,2015,0.00000
116,Liberia,NaN,NaN,NaN,NaN,LBR,2015,2015,0.00000
117,Libya,NaN,NaN,NaN,NaN,LBY,2015,2015,0.00000
118,Liechtenstein,NaN,NaN,NaN,NaN,LIE,2015,2015,0.00000
123,Madagascar,NaN,NaN,NaN,NaN,MDG,2015,2015,0.00000
124,Malawi,NaN,NaN,NaN,NaN,MWI,2015,2015,0.00000
126,Maldives,NaN,NaN,NaN,NaN,MDV,2015,2015,0.00000
129,Marshall Islands,NaN,NaN,NaN,NaN,MHL,2015,2015,0.00000
85,Guinea,NaN,NaN,NaN,NaN,GIN,2015,2015,0.00000
84,Guinea-Bissau,NaN,NaN,NaN,NaN,GNB,2015,2015,0.00000
83,Guernsey,NaN,NaN,NaN,NaN,GGY,2015,2015,0.00000
81,Guam,NaN,NaN,NaN,NaN,GUM,2015,2015,0.00000
46,"Congo, Republic of the",NaN,NaN,NaN,NaN,COG,2015,2015,0.00000
47,Cook Islands,NaN,NaN,NaN,NaN,COK,2015,2015,0.00000
...,...,...,...,...,...,...,...,...,...
1882,Honduras,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,HND,2015,2015,44.40789
1966,South Africa,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,ZAF,2015,2015,44.43421
1834,Portugal,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,PRT,2015,2015,44.88968
1950,Romania,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,ROU,2015,2015,45.83180
2959,Viet Nam,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,VNM,2015,2015,45.90273
2943,Bosnia and Herzegovina,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,BIH,2015,2015,46.14637
1912,Malaysia,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,MYS,2015,2015,46.72637
1978,Trinidad and Tobago,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,TTO,2015,2015,46.99842
1943,Paraguay,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,PRY,2015,2015,47.48228
1876,Estonia,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,EST,2015,2015,47.50733
1860,Bulgaria,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,BGR,2015,2015,47.87604
2907,Ukraine,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,UKR,2015,2015,48.99900
2478,Kuwait,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,KWT,2015,2015,49.12949
1991,Serbia,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,SRB,2015,2015,49.49427
2487,The former Yugoslav Republic of Macedonia,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,MKD,2015,2015,50.51330
1866,Croatia,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,HRV,2015,2015,50.63371
1995,Montenegro,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,MNE,2015,2015,50.67912
1929,Mongolia,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,MNG,2015,2015,50.77535
1945,Puerto Rico,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,PRI,2015,2015,51.63636
1922,Republic of Moldova,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,MDA,2015,2015,51.79813
1889,Kazakhstan,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,KAZ,2015,2015,52.08409
2952,Georgia,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,GEO,2015,2015,52.41871
1893,Kyrgyzstan,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,KGZ,2015,2015,52.46873
1904,Lithuania,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,LTU,2015,2015,52.65652
2444,Azerbaijan,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,AZE,2015,2015,53.30620
1854,Armenia,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,ARM,2015,2015,53.31086
1899,Latvia,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,LVA,2015,2015,53.39892
1881,Guatemala,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,GTM,2015,2015,54.19562
2500,Tunisia,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,TUN,2015,2015,54.36096
1972,Thailand,NaN,NaN,FPERSP_THC,Total R&D personnel (HC) - % Female,THA,2015,2015,56.36376

In [16]:
fem_map = [go.Choropleth(
    locations = hc_female_2015['LOCATION'],
    z = hc_female_2015['Value'],
    text = hc_female_2015['Country'],
    colorscale = [
        [0, "rgb(5, 10, 172)"],
        [0.35, "rgb(40, 60, 190)"],
        [0.5, "rgb(70, 100, 245)"],
        [0.6, "rgb(90, 120, 245)"],
        [0.7, "rgb(106, 137, 247)"],
        [1, "rgb(220, 220, 220)"]
    ],
    autocolorscale = False,
    reversescale = True,
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(180,180,180)',
            width = 0.5
        )),
    colorbar = go.choropleth.ColorBar(
        tickprefix = '%',
        title = 'Total Female R&D personnel <br> (Head count %)'),
)]

layout = go.Layout(
    title = go.layout.Title(
        text = 'Head Count Percentages of Female R&D personnel (2015)'
    ),
    geo = go.layout.Geo(
        showframe = False,
        showcoastlines = False,
        projection = go.layout.geo.Projection(
            type = 'equirectangular'
        )
    ),
    annotations = [go.layout.Annotation(
        x = 0.55,
        y = 0.1,
        xref = 'paper',
        yref = 'paper',
        text = 'Source: <a href="http://data.uis.unesco.org/">\
            UNESCO Institute for Statistics</a>',
        showarrow = False
    )]
)

fig = go.Figure(data = fem_map, layout = layout)
py.iplot(fig, filename = 'd3-world-map')

/Users/Nina/bin/anaconda3/envs/msds622/lib/python3.7/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead