# Heat map

Heat map of mean amount of female researchers across different qualifications over the last couple of years

In [1]:
import pandas as pd 
import numpy as np
import plotly.plotly as py
import plotly.graph_objs as go

In [2]:
data = pd.read_csv('../data/qualification_researchers.csv')

In [3]:
data.head()

,INDICATOR,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags
0,20001,Researchers (FTE) - Total,AUT,Austria,2011,2011,37113.8,NaN,NaN
1,20001,Researchers (FTE) - Total,AUT,Austria,2012,2012,39700.7,NaN,NaN
2,20001,Researchers (FTE) - Total,AUT,Austria,2013,2013,40425.6,NaN,NaN
3,20001,Researchers (FTE) - Total,AUT,Austria,2014,2014,42627.0,NaN,NaN
4,20001,Researchers (FTE) - Total,AUT,Austria,2015,2015,43562.0,NaN,NaN

In [5]:
qualifications = ['Researchers (HC) - Female - ISCED 8 ', 'Researchers (HC) - Female - ISCED 5',
                 'Researchers (HC) - Female - ISCED 6', 'Researchers (HC) - Female - ISCED 7 ']
data = data[(data.Indicator.isin(qualifications)) & ~(data.Value.isna())]

In [11]:
# get summed Value information per year and indicator 
data_agg = data.groupby(['Time', 'Indicator']).mean().reset_index()[['Indicator','Time', 'Value']]

In [23]:
data_agg_5 = data_agg[data_agg.Indicator == 'Researchers (HC) - Female - ISCED 5'].Value.values
data_agg_6 = data_agg[data_agg.Indicator == 'Researchers (HC) - Female - ISCED 6'].Value.values
data_agg_7 = data_agg[data_agg.Indicator == 'Researchers (HC) - Female - ISCED 7 '].Value.values
data_agg_8 = data_agg[data_agg.Indicator == 'Researchers (HC) - Female - ISCED 8 '].Value.values

In [50]:
trace = go.Heatmap(z=[data_agg_5, data_agg_6, data_agg_7, data_agg_8],
                   x=['2011', '2012', '2013', '2014', '2015', '2016', '2017'],
                   y=['ISCED 5','ISCED 6','ISCED 7 ','ISCED 8 '])


layout = go.Layout(
    title='Average Head Count of Female Researchers Across Qualifications (2011-2017)',
    xaxis = dict(title='Year'),
    yaxis = dict(title='Qualification'), annotations=[
        dict(
            x=1.07,
            y=1.10,
            align = "left",
            valign="top",
            text='Average Head <br> Count',
            showarrow=False,
            xref="paper",
            yref="paper",
            xanchor="center",
            yanchor="top"
        )
    ])

fig = go.Figure(data=[trace], layout=layout)

py.iplot(fig, filename='researchers_qualifications_heatmap')