# Stacked Area Graph

Stacked Area Graph of headcounts of female R&D personnel, researchers, and technologists in Thailand across the last several years.

In [1]:
import pandas as pd 
import numpy as np
import plotly.plotly as py
import plotly.graph_objs as go

In [2]:
rnd = pd.read_csv('../data/total_rd.csv')
research = pd.read_csv('../data/total_researchers.csv')
tech = pd.read_csv('../data/total_technicians.csv')

In [38]:
# rnd_thai = rnd[(rnd.Indicator == 'Total R&D personnel (HC) - % Female') & (rnd.Country == 'Thailand')]
rnd_thai = rnd[(rnd.Indicator == 'Total R&D personnel (HC) - Female') & (rnd.Country == 'Thailand')]

In [39]:
rnd_thai

,INDICATOR,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags
1732,21104,Total R&D personnel (HC) - Female,THA,Thailand,2011,2011,49298.0,NaN,NaN
1733,21104,Total R&D personnel (HC) - Female,THA,Thailand,2015,2015,56884.0,NaN,NaN
1734,21104,Total R&D personnel (HC) - Female,THA,Thailand,2016,2016,88640.0,NaN,NaN

In [40]:
# research_thai = research[(research.Indicator == 'Researchers (HC) - % Female') & (research.Country == 'Thailand')]
research_thai = research[(research.Indicator == 'Researchers (HC) - Female') & (research.Country == 'Thailand')]


# exclude 2014 to match the other data sources 

research_thai = research_thai[research_thai['Time'] != 2014]

In [41]:
research_thai

,INDICATOR,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags
1939,21105,Researchers (HC) - Female,THA,Thailand,2011,2011,26951.0,NaN,NaN
1941,21105,Researchers (HC) - Female,THA,Thailand,2015,2015,40802.0,NaN,NaN
1942,21105,Researchers (HC) - Female,THA,Thailand,2016,2016,64848.0,NaN,NaN

In [42]:
# tech_thai = tech[(tech.Indicator == 'Technicians (HC) - % Female') & (tech.Country == 'Thailand')]
tech_thai = tech[(tech.Indicator == 'Technicians (HC) - Female') & (tech.Country == 'Thailand')]

In [43]:
tech_thai

,INDICATOR,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags
1085,21106,Technicians (HC) - Female,THA,Thailand,2011,2011,14238.0,NaN,NaN
1086,21106,Technicians (HC) - Female,THA,Thailand,2015,2015,10280.0,NaN,NaN
1087,21106,Technicians (HC) - Female,THA,Thailand,2016,2016,16408.0,NaN,NaN

In [49]:
# Add original data
trace1 = go.Scatter(name = 'R&D Personnel',
    x=rnd_thai.Time,
    y=rnd_thai.Value,
    fill='tozeroy')
trace2 = go.Scatter(name = 'Researchers',
    x=research_thai.Time,
    y=research_thai.Value,
    fill='tonexty')

trace3 = go.Scatter(name = 'Technicians',
    x=tech_thai.Time,
    y=tech_thai.Value,
    fill='tonextx')

layout = go.Layout(
    title='Head Count of Female STEM Employees Across Occupations (2011-2016)',
    xaxis = dict(title='Year'),
    yaxis = dict(title='Head Count'), annotations=[
        dict(
            x=1.07,
            y=1.05,
            align = "left",
            valign="top",
            text='Occupations',
            showarrow=False,
            xref="paper",
            yref="paper",
            xanchor="center",
            yanchor="top"
        )
    ])

data = [trace1, trace2, trace3]

fig = go.Figure(data=data, layout=layout)

In [50]:
py.iplot(fig, filename='stacked-area-thailand')